*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Lucida Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    position: absolute;
    height: 10vh;
    color: green;
    text-decoration: underline;
    top: 20px;
    margin: 0;
}

.main{
    display: flex;
    width: 90vw;
}
.panel{
    border-radius: 50px;
    margin: 10px;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 0.5;
    position: relative;
    transition: flex 0.75 ease-in;
}
.panel h3{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active h3{
    opacity: 1;
}
.panel.active{
    flex:5;
}
