*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


body{
    font-family: 'Lucida Sans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1{
    position: absolute;
    height: 10vh;
    color: rgb(234, 235, 225);
    text-decoration: none;
    top: 30px;
    margin: 0;
    font-weight: 900;
    background-color: transparent;
}

.main{
    display: flex;
    width: 90vw;
}
.panel{
    border-radius: 50px;
    margin: 10px;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 0.5;
    position: relative;
    transition: flex 0.75 ease-in;
}
.panel h3{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active h3{
    opacity: 1;
    background-color: transparent;
}
.panel.active{
    flex:5;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.247);
}
